.countdown {
    margin: 0 auto;
    max-width: 500px;
    background: #505050;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
    position: absolute;
    top: 1vh;
    left: 1vw;
  }
  .countdown .header {
    color: #c61d1d;
    text-align: center;
    font-weight: normal;
    margin: 5px 0 10px 0;
  }
  .countdown .square {
    display: inline-block;
    padding: 10px;
    margin: 5px;
  }
  .countdown .digits {
    font-size: 24px;
    background: #fff;
    color: #000;
    padding: 20px 10px;
    border-radius: 5px;
  }
  .countdown .text {
    margin-top: 10px;
    color: #ddd;
  }